body {
    font-family: Arial, sans-serif;
    background-image: url(''); 
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 20px; 
    background: linear-gradient(green,black);
}


h2 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}
form {
    max-width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background:black;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background: green;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
.shake {
    animation: shake 0.5s;
}